<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.ghprb.GhprbRepository plugin="ghprb@1.39.0">
  <reponame>smartdevicelink/sdl_core</reponame>
  <pullRequests class="concurrent-hash-map">
    <entry>
      <int>1664</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1664</id>
        <updated>2017-10-13 10:15:40.0 UTC</updated>
        <head>391cbd798f003605d04f9f39e9e82ce7a8cd641f</head>
        <base>e5a5aad135629e802aff7154a005fbf0351430a3</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1665</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1665</id>
        <updated>2017-10-13 10:15:38.0 UTC</updated>
        <head>0f2ad68e512b092d6f836ed344f4b272de8739c4</head>
        <base>e5a5aad135629e802aff7154a005fbf0351430a3</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1537</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1537</id>
        <updated>2017-10-13 10:16:57.0 UTC</updated>
        <head>2d4aa21c196564a862b2da9877d4e31a17d7632a</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1669</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1669</id>
        <updated>2017-10-13 10:15:36.0 UTC</updated>
        <head>e19a6cebf68ccba06691ddb3c7fedb6205368eab</head>
        <base>e5a5aad135629e802aff7154a005fbf0351430a3</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1541</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1541</id>
        <updated>2017-10-13 10:16:55.0 UTC</updated>
        <head>c8d2be35b3be733ce7a559cb2be5ae278822a225</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1158</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1158</id>
        <updated>2017-10-13 10:17:20.0 UTC</updated>
        <head>8845f2d4b58f8d39e6055f3391ed065c4f250c54</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1159</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1159</id>
        <updated>2017-10-13 10:17:19.0 UTC</updated>
        <head>a1b95d77de818a06622557addeb9bb2db770cb1a</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1544</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1544</id>
        <updated>2017-10-13 10:16:53.0 UTC</updated>
        <head>5df2492831dd29b4fea04a3a42bb58a58377338e</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1548</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1548</id>
        <updated>2017-10-13 10:16:52.0 UTC</updated>
        <head>ed54f608bf72e402d55c6093eb483f2fa363feae</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1037</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1037</id>
        <updated>2017-10-13 10:17:21.0 UTC</updated>
        <head>9a7899ca898d51bd5bd8076cf968279dd49114cd</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1551</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1551</id>
        <updated>2017-10-13 10:16:50.0 UTC</updated>
        <head>e0bb7ba37d1546c3b171a8ea3a0f0e6e5eb4e859</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1552</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1552</id>
        <updated>2017-10-13 10:16:48.0 UTC</updated>
        <head>9a1329773d538a60098c37d8afc5628f53d750fe</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
        <lastBuildId>10</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1553</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1553</id>
        <updated>2017-10-13 10:16:46.0 UTC</updated>
        <head>ed18154bca4c489f3770db0837b858b9ee40ee8b</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1810</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1810</id>
        <updated>2017-10-13 10:15:08.0 UTC</updated>
        <head>2e738977b9f48f7816b241f7f894df2b857ef035</head>
        <base>0ae7df52480d16e6ea93f42d41fc99e3fe330cf9</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1554</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1554</id>
        <updated>2017-10-13 10:16:44.0 UTC</updated>
        <head>14c18e6fc9ba03e82a8ee389d97469c3900871e7</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>274</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>274</id>
        <updated>2017-10-13 10:17:27.0 UTC</updated>
        <head>a5fbcbe1e4a6feb4876bc150da0c199e1916e645</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1556</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1556</id>
        <updated>2017-10-13 10:16:40.0 UTC</updated>
        <head>519aa08da1bbe6291586baf607fe4e81432ad044</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1557</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1557</id>
        <updated>2017-10-10 16:09:33.0 UTC</updated>
        <head>86f47eca029bf72a2b8ac907072569df1568fd6a</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
        <lastBuildId>9</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1559</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1559</id>
        <updated>2017-10-13 10:16:36.0 UTC</updated>
        <head>fbf595b65b8385c39b551d06fe28d64e64a14963</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1560</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1560</id>
        <updated>2017-10-13 10:16:34.0 UTC</updated>
        <head>da8c680b17b9d3319d2b59d04ba1ceeb46b8ed51</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
        <lastBuildId>8</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1561</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1561</id>
        <updated>2017-10-13 10:16:31.0 UTC</updated>
        <head>975a852904fe0eb4ff498bcc53a01700d7716564</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
        <lastBuildId>7</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1562</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1562</id>
        <updated>2017-10-13 10:16:29.0 UTC</updated>
        <head>2f320e1f6dd6bc18c48b671091653d523bee2bc9</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1820</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1820</id>
        <updated>2017-10-18 12:50:15.0 UTC</updated>
        <head>8a3cc88b6b928a55d00fc4202245eb61d2d8b9a7</head>
        <base>0ae7df52480d16e6ea93f42d41fc99e3fe330cf9</base>
        <accepted>true</accepted>
        <lastBuildId>5</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>924</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>924</id>
        <updated>2017-10-13 10:17:25.0 UTC</updated>
        <head>35d2403e4819a6d352a86cd3484e38eb69663cb2</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1821</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1821</id>
        <updated>2017-10-20 08:18:09.0 UTC</updated>
        <head>9ef43d8a9a3afef375899798f1b6d67fec91692f</head>
        <base>0ae7df52480d16e6ea93f42d41fc99e3fe330cf9</base>
        <accepted>true</accepted>
        <lastBuildId>4</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1822</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1822</id>
        <updated>2017-10-24 13:16:15.0 UTC</updated>
        <head>300d09337fc1087ba858d19b55dbeebfefc1134e</head>
        <base>0ae7df52480d16e6ea93f42d41fc99e3fe330cf9</base>
        <accepted>true</accepted>
        <lastBuildId>3</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1566</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1566</id>
        <updated>2017-10-13 10:16:28.0 UTC</updated>
        <head>024757b03ea1b810569fca07192816f32a213221</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1823</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1823</id>
        <updated>2017-10-24 11:35:00.0 UTC</updated>
        <head>f0d5e0951841b7de64719a01cf13f8211ec41472</head>
        <base>0ae7df52480d16e6ea93f42d41fc99e3fe330cf9</base>
        <accepted>true</accepted>
        <lastBuildId>2</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1567</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1567</id>
        <updated>2017-10-13 10:16:25.0 UTC</updated>
        <head>d92f767c7eba27874c29fb8a863ec5525570b94a</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1568</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1568</id>
        <updated>2017-10-13 10:16:23.0 UTC</updated>
        <head>edeeca9e7999d176439c4f5df544222f10e51040</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1697</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1697</id>
        <updated>2017-10-13 10:15:31.0 UTC</updated>
        <head>2afbbd46db045a40952c1d2639de16ec948190b3</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1825</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1825</id>
        <updated>2017-10-23 13:02:58.0 UTC</updated>
        <head>4b6838b4bce7037c5a4c00b3a957f750319848d9</head>
        <base>8a3cc88b6b928a55d00fc4202245eb61d2d8b9a7</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1569</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1569</id>
        <updated>2017-10-13 10:16:21.0 UTC</updated>
        <head>ab2b23a553acc63427f9c39e31b4cdc16317982f</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>930</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>930</id>
        <updated>2017-10-13 10:17:23.0 UTC</updated>
        <head>203aedc01958fe8e0825f70599f8cda0f621ae5c</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1571</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1571</id>
        <updated>2017-10-13 10:16:19.0 UTC</updated>
        <head>02a1f700a8f13005b469299fbaf0254a83b1341e</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1572</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1572</id>
        <updated>2017-10-13 10:16:17.0 UTC</updated>
        <head>cb7f7b9ca7e2820e53b03ce516ded6e376f281e8</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1573</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1573</id>
        <updated>2017-10-13 10:16:15.0 UTC</updated>
        <head>5a9924396f68b952346fbb2346a0e2b3c935a991</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1574</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1574</id>
        <updated>2017-10-13 10:16:13.0 UTC</updated>
        <head>79c5e46da839fc87ba4aaaa20bd9bad39e86df5b</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1575</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1575</id>
        <updated>2017-10-13 10:16:11.0 UTC</updated>
        <head>abdf5363b9f4e5d973fd4cc53634f53ac4ce50fa</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1576</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1576</id>
        <updated>2017-10-13 10:16:09.0 UTC</updated>
        <head>52651c4d1d0c5a256181ee534adff0d986a6cc74</head>
        <base>da4b5766ca3f1fca4caa4b4815073f72dfe37182</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1706</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1706</id>
        <updated>2017-10-13 10:15:29.0 UTC</updated>
        <head>175e0ab25edd4b98bb3c16a1997046b06749114d</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1453</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1453</id>
        <updated>2017-10-13 10:17:14.0 UTC</updated>
        <head>60d41d7e049661e764e5abe8668eb7a83a12db98</head>
        <base>c3f98dc59d8fa7c72d5426e07ee24a5806bbff98</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1586</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1586</id>
        <updated>2017-10-13 10:16:07.0 UTC</updated>
        <head>c5211c83a138780fac22222aeded4e6a081eb78c</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>950</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>950</id>
        <updated>2017-10-13 10:17:22.0 UTC</updated>
        <head>aad12708686bdaf1ee19ec105c583ca60c34f32d</head>
        <base>a6c32b45832653d6b851be9b19355fa35f377e07</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>568</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>568</id>
        <updated>2017-10-13 10:17:26.0 UTC</updated>
        <head>477671c3e846d8b6202a379a4e8cc750e7eeb295</head>
        <base>69675d27f8e52bb30fd2a7b4fa96e9304a4a4c56</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1730</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1730</id>
        <updated>2017-10-21 02:05:02.0 UTC</updated>
        <head>c670cb094b61e6563eb74b1991fc1ee2de713e86</head>
        <base>69675d27f8e52bb30fd2a7b4fa96e9304a4a4c56</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1602</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1602</id>
        <updated>2017-10-13 10:16:05.0 UTC</updated>
        <head>ce846b97c8a481516af741063d94900791131e2c</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1604</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1604</id>
        <updated>2017-10-13 10:16:02.0 UTC</updated>
        <head>1f59584e622b589eb2b4e17926b0cbb10463bcd9</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1611</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1611</id>
        <updated>2017-10-13 10:16:00.0 UTC</updated>
        <head>14a1b722bb1103c328ea6935e9642ee80e2a68fc</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1614</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1614</id>
        <updated>2017-10-13 10:15:58.0 UTC</updated>
        <head>6a002ddd092772e4f2af9832876bc6dd340526c8</head>
        <base>7b067d0e49b42ab4aa584f8fde7051ee4d76de70</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1616</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1616</id>
        <updated>2017-10-13 10:15:56.0 UTC</updated>
        <head>b7bd05cb7263271a376a13ab8f47bbfe480f5e78</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1360</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1360</id>
        <updated>2017-10-13 10:17:16.0 UTC</updated>
        <head>223fea2360deecf3d239280ac7d1e33d3ec1f91a</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1489</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1489</id>
        <updated>2017-10-13 10:17:13.0 UTC</updated>
        <head>0c674d005ed11b6db38c9d500ae9184537fe73bb</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1490</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1490</id>
        <updated>2017-10-13 10:17:12.0 UTC</updated>
        <head>c81995d8b97663dd1ef1014c3d837d63d858a9c0</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1492</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1492</id>
        <updated>2017-10-13 10:17:10.0 UTC</updated>
        <head>f7469edabecd5ff4ec0d6ff98cf596153686c632</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1366</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1366</id>
        <updated>2017-10-13 10:17:15.0 UTC</updated>
        <head>1f574a2061bf5b746c6bf3734c647a4a6ba3dfd1</head>
        <base>b66fb9670c4077e5160a876230b6a1ebdba4336c</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1751</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1751</id>
        <updated>2017-10-20 18:55:48.0 UTC</updated>
        <head>1049092072211c1be0b2fce627f57238be981154</head>
        <base>8dbd78b5bd5bc5fd66412a555f6499c2b6490186</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1625</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1625</id>
        <updated>2017-10-13 10:15:54.0 UTC</updated>
        <head>46aeafac6d8d96b3f6c3d13aa9f0b764780cadd3</head>
        <base>22a014b3746b28d2b8a3a4049c60bb76db6a0861</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1497</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1497</id>
        <updated>2017-10-13 10:17:09.0 UTC</updated>
        <head>24f49fe16cbd4f170623145230ae50be7465e8f9</head>
        <base>d094628a2d5ddfce2ad64240cccc24d8163a4cb8</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1626</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1626</id>
        <updated>2017-10-13 10:15:52.0 UTC</updated>
        <head>2b29c82396c6b24e15f8d54405821f39de379741</head>
        <base>da4b5766ca3f1fca4caa4b4815073f72dfe37182</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>218</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>218</id>
        <updated>2017-10-13 10:17:28.0 UTC</updated>
        <head>089d7c52696161a932b937789fac0162f6e17a1b</head>
        <base>5d5d8cffbbc7a846b7399fae0c6c323e1012ab9c</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1627</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1627</id>
        <updated>2017-10-13 10:15:50.0 UTC</updated>
        <head>7b57748b3213b6739f9e700c751f7a3b63c7f027</head>
        <base>22a014b3746b28d2b8a3a4049c60bb76db6a0861</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1757</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1757</id>
        <updated>2017-10-13 10:15:16.0 UTC</updated>
        <head>d229c7fa474889efe05215b064923693aa24ba85</head>
        <base>761523db24c1276311389f2500f92d945cedb25e</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1505</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1505</id>
        <updated>2017-10-13 10:17:08.0 UTC</updated>
        <head>9550d93cf89070a0fed065b0e0d9d53a92c62346</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1506</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1506</id>
        <updated>2017-10-13 10:17:07.0 UTC</updated>
        <head>9f6b419f5a71f79b2f16bf80c7bd01a4801cab83</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1508</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1508</id>
        <updated>2017-10-13 10:17:06.0 UTC</updated>
        <head>25fdf1a50fd3514a2e3d193754456276f27387d5</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1509</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1509</id>
        <updated>2017-10-13 10:17:04.0 UTC</updated>
        <head>2e378d5ac11918739cbadc6e566710967c960879</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1639</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1639</id>
        <updated>2017-10-13 10:15:45.0 UTC</updated>
        <head>c23b22e9a8761d1eb78a0548f068a8db3aef1dfc</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1511</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1511</id>
        <updated>2017-10-13 10:17:03.0 UTC</updated>
        <head>63e9baece176ce8a8c5038e0eb78de3546ffaf74</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1640</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1640</id>
        <updated>2017-10-13 10:15:42.0 UTC</updated>
        <head>d43d0844efa8a3f13c7ccd25023a3efdb13b51f1</head>
        <base>da4b5766ca3f1fca4caa4b4815073f72dfe37182</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1771</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1771</id>
        <updated>2017-10-13 10:15:14.0 UTC</updated>
        <head>4d17b8930637dec16abb2b2e1cc7a23a0d13a9b2</head>
        <base>da4b5766ca3f1fca4caa4b4815073f72dfe37182</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1265</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1265</id>
        <updated>2017-10-13 10:17:18.0 UTC</updated>
        <head>faaec45cdaa664f9b7e91b2ff45fd0f85b72e421</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1778</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1778</id>
        <updated>2017-10-16 21:16:19.0 UTC</updated>
        <head>428674b83a602c7afb148d5d94a4931a16ab21f3</head>
        <base>c38e85f34ae5ebad13bc5a6b3d87abb474583e90</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1525</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1525</id>
        <updated>2017-10-13 10:17:01.0 UTC</updated>
        <head>3800d598555ea45f2b61741b53a959cdd678e705</head>
        <base>5fd981e582b92930ecb04e25a766eafa022dcceb</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1783</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1783</id>
        <updated>2017-10-13 10:15:10.0 UTC</updated>
        <head>194d725d51eb2db4bd5cac28c58d78a9a1b4bf74</head>
        <base>c38e85f34ae5ebad13bc5a6b3d87abb474583e90</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>1535</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1535</id>
        <updated>2017-10-13 10:16:59.0 UTC</updated>
        <head>d7f6854338d278aea65c4485773ee32de9e573dd</head>
        <base>a2be84f2bbe469cbcaa345e812936f5e55a92291</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
  </pullRequests>
</org.jenkinsci.plugins.ghprb.GhprbRepository>