<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:admin2</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:akutsan</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:vkushnirenko</permission>
      <permission>hudson.model.Run.Delete:admin</permission>
      <permission>hudson.model.Run.Delete:admin2</permission>
      <permission>hudson.model.Run.Delete:akutsan</permission>
      <permission>hudson.model.Run.Delete:vkushnirenko</permission>
      <permission>hudson.model.Item.Workspace:astasiuk</permission>
      <permission>hudson.model.Item.Workspace:dboltovskyi</permission>
      <permission>hudson.model.Item.Workspace:admin</permission>
      <permission>hudson.model.Item.Workspace:admin2</permission>
      <permission>hudson.model.Item.Workspace:iikovalenko</permission>
      <permission>hudson.model.Item.Workspace:akutsan</permission>
      <permission>hudson.model.Item.Workspace:vkushnirenko</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:admin2</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:akutsan</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:vkushnirenko</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:admin2</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:akutsan</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:vkushnirenko</permission>
      <permission>hudson.model.Run.Replay:astasiuk</permission>
      <permission>hudson.model.Run.Replay:dboltovskyi</permission>
      <permission>hudson.model.Run.Replay:admin</permission>
      <permission>hudson.model.Run.Replay:admin2</permission>
      <permission>hudson.model.Run.Replay:iikovalenko</permission>
      <permission>hudson.model.Run.Replay:akutsan</permission>
      <permission>hudson.model.Run.Replay:vkushnirenko</permission>
      <permission>hudson.model.Item.Configure:admin</permission>
      <permission>hudson.model.Item.Configure:admin2</permission>
      <permission>hudson.model.Item.Configure:akutsan</permission>
      <permission>hudson.model.Item.Configure:vkushnirenko</permission>
      <permission>hudson.model.Item.Cancel:admin</permission>
      <permission>hudson.model.Item.Cancel:admin2</permission>
      <permission>hudson.model.Item.Cancel:akutsan</permission>
      <permission>hudson.model.Item.Cancel:vkushnirenko</permission>
      <permission>hudson.model.Item.Delete:admin</permission>
      <permission>hudson.model.Item.Delete:admin2</permission>
      <permission>hudson.model.Item.Delete:akutsan</permission>
      <permission>hudson.model.Item.Delete:vkushnirenko</permission>
      <permission>hudson.model.Item.Read:astasiuk</permission>
      <permission>hudson.model.Item.Read:dboltovskyi</permission>
      <permission>hudson.model.Item.Read:admin</permission>
      <permission>hudson.model.Item.Read:admin2</permission>
      <permission>hudson.model.Item.Read:iikovalenko</permission>
      <permission>hudson.model.Item.Read:akutsan</permission>
      <permission>hudson.model.Item.Read:vkushnirenko</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:astasiuk</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:dboltovskyi</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:admin2</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:iikovalenko</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:akutsan</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:vkushnirenko</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:admin</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:admin2</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:akutsan</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:vkushnirenko</permission>
      <permission>hudson.model.Item.Build:astasiuk</permission>
      <permission>hudson.model.Item.Build:dboltovskyi</permission>
      <permission>hudson.model.Item.Build:admin</permission>
      <permission>hudson.model.Item.Build:admin2</permission>
      <permission>hudson.model.Item.Build:iikovalenko</permission>
      <permission>hudson.model.Item.Build:akutsan</permission>
      <permission>hudson.model.Item.Build:vkushnirenko</permission>
      <permission>hudson.scm.SCM.Tag:admin</permission>
      <permission>hudson.scm.SCM.Tag:admin2</permission>
      <permission>hudson.scm.SCM.Tag:akutsan</permission>
      <permission>hudson.scm.SCM.Tag:vkushnirenko</permission>
      <permission>hudson.model.Item.Move:admin</permission>
      <permission>hudson.model.Item.Move:admin2</permission>
      <permission>hudson.model.Item.Move:akutsan</permission>
      <permission>hudson.model.Item.Move:vkushnirenko</permission>
      <permission>hudson.model.Item.Discover:admin</permission>
      <permission>hudson.model.Item.Discover:admin2</permission>
      <permission>hudson.model.Item.Discover:akutsan</permission>
      <permission>hudson.model.Item.Discover:vkushnirenko</permission>
      <permission>hudson.model.Item.ViewStatus:astasiuk</permission>
      <permission>hudson.model.Item.ViewStatus:dboltovskyi</permission>
      <permission>hudson.model.Item.ViewStatus:admin</permission>
      <permission>hudson.model.Item.ViewStatus:admin2</permission>
      <permission>hudson.model.Item.ViewStatus:iikovalenko</permission>
      <permission>hudson.model.Item.ViewStatus:akutsan</permission>
      <permission>hudson.model.Item.ViewStatus:vkushnirenko</permission>
      <permission>hudson.model.Run.Update:admin</permission>
      <permission>hudson.model.Run.Update:admin2</permission>
      <permission>hudson.model.Run.Update:akutsan</permission>
      <permission>hudson.model.Run.Update:vkushnirenko</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>10</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.28.0">
      <projectUrl>https://github.com/smartdevicelink/sdl_core/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>true</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SDL_FOLDER</name>
          <description>
</description>
          <defaultValue>mobile_projection_2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_TYPE</name>
          <description></description>
          <defaultValue>PR</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>1</maxConcurrentPerNode>
      <maxConcurrentTotal>20</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec>+refs/pull/*:refs/remotes/origin/pr/*</refspec>
        <url>https://github.com/smartdevicelink/sdl_core</url>
        <credentialsId>282420ae-3807-4518-a1d0-a1ead552bbae</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${SHA1}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/smartdevicelink/sdl_core</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>atf_slave3</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jenkinsci.plugins.ghprb.GhprbTrigger plugin="ghprb@1.36.2">
      <spec>H/5 * * * *</spec>
      <latestVersion>3</latestVersion>
      <configVersion>3</configVersion>
      <adminlist>JenkinsSDLOnCloud</adminlist>
      <allowMembersOfWhitelistedOrgsAsAdmin>false</allowMembersOfWhitelistedOrgsAsAdmin>
      <orgslist></orgslist>
      <cron>H/5 * * * *</cron>
      <buildDescTemplate></buildDescTemplate>
      <onlyTriggerPhrase>false</onlyTriggerPhrase>
      <useGitHubHooks>false</useGitHubHooks>
      <permitAll>true</permitAll>
      <whitelist></whitelist>
      <autoCloseFailedPullRequests>false</autoCloseFailedPullRequests>
      <displayBuildErrorsOnDownstreamBuilds>false</displayBuildErrorsOnDownstreamBuilds>
      <whiteListTargetBranches>
        <org.jenkinsci.plugins.ghprb.GhprbBranch>
          <branch>feature/mobile_projection_2</branch>
        </org.jenkinsci.plugins.ghprb.GhprbBranch>
      </whiteListTargetBranches>
      <blackListTargetBranches>
        <org.jenkinsci.plugins.ghprb.GhprbBranch>
          <branch></branch>
        </org.jenkinsci.plugins.ghprb.GhprbBranch>
      </blackListTargetBranches>
      <gitHubAuthId>89852dde-ccc8-4821-90af-a065b3b6392d</gitHubAuthId>
      <triggerPhrase>Rebuild required</triggerPhrase>
      <skipBuildPhrase>.*\[skip\W+ci\].*</skipBuildPhrase>
      <blackListLabels></blackListLabels>
      <whiteListLabels></whiteListLabels>
      <extensions>
        <org.jenkinsci.plugins.ghprb.extensions.status.GhprbSimpleStatus>
          <commitStatusContext>Pull_Request_UT</commitStatusContext>
          <triggeredStatus>Build triggered</triggeredStatus>
          <startedStatus>Build Started</startedStatus>
          <statusUrl></statusUrl>
          <addTestResults>false</addTestResults>
        </org.jenkinsci.plugins.ghprb.extensions.status.GhprbSimpleStatus>
      </extensions>
    </org.jenkinsci.plugins.ghprb.GhprbTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.plugins.cmake.CmakeBuilder plugin="cmakebuilder@2.4.5">
      <installationName>InSearchPath</installationName>
      <workingDir>build</workingDir>
      <toolArgs>-DBUILD_TESTS=ON -DENABLE_GCOV=OFF  -DUSE_DISTCC=OFF</toolArgs>
      <sourceDir>.</sourceDir>
      <buildType>Debug</buildType>
      <cleanBuild>true</cleanBuild>
    </hudson.plugins.cmake.CmakeBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
wget http://172.30.23.4:8081/artifactory/Utils/build.sh
chmod +x build.sh
./build.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/*.tar.gz</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <org.jenkinsci.plugins.cppcheck.CppcheckPublisher plugin="cppcheck@1.21">
      <cppcheckConfig>
        <pattern>cppcheck.xml</pattern>
        <ignoreBlankFiles>false</ignoreBlankFiles>
        <allowNoReport>true</allowNoReport>
        <configSeverityEvaluation>
          <threshold></threshold>
          <newThreshold></newThreshold>
          <failureThreshold></failureThreshold>
          <newFailureThreshold></newFailureThreshold>
          <healthy></healthy>
          <unHealthy></unHealthy>
          <severityError>true</severityError>
          <severityWarning>true</severityWarning>
          <severityStyle>true</severityStyle>
          <severityPerformance>true</severityPerformance>
          <severityInformation>true</severityInformation>
          <severityNoCategory>true</severityNoCategory>
          <severityPortability>true</severityPortability>
        </configSeverityEvaluation>
        <configGraph>
          <xSize>500</xSize>
          <ySize>200</ySize>
          <numBuildsInGraph>20</numBuildsInGraph>
          <displayAllErrors>true</displayAllErrors>
          <displayErrorSeverity>true</displayErrorSeverity>
          <displayWarningSeverity>true</displayWarningSeverity>
          <displayStyleSeverity>true</displayStyleSeverity>
          <displayPerformanceSeverity>true</displayPerformanceSeverity>
          <displayInformationSeverity>true</displayInformationSeverity>
          <displayNoCategorySeverity>true</displayNoCategorySeverity>
          <displayPortabilitySeverity>true</displayPortabilitySeverity>
        </configGraph>
      </cppcheckConfig>
    </org.jenkinsci.plugins.cppcheck.CppcheckPublisher>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.21">
      <testResults>build/test_results/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.58">
      <recipientList>AKutsan@luxoft.com, MGhiumiusliu@luxoft.com, IIKovalenko@luxoft.com,  AStasiuk@luxoft.com, vkushnirenko@luxoft.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>AKutsan@luxoft.com, MGhiumiusliu@luxoft.com, IIKovalenko@luxoft.com, OVVasyliev@luxoft.com, AStasiuk@luxoft.com</recipientList>
            <subject>$DEFAULT_SUBJECT</subject>
            <body>${SCRIPT, template=&quot;groovy-html.template&quot;}</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>mailer@lc-jenkinsdockerhost.luxoft.com</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>${SCRIPT, template=&quot;groovy-html.template&quot;}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>mailer@lc-jenkinsdockerhost.luxoft.com</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.1">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>SDL_BUILD=${BUILD_NUMBER}
SDL_FOLDER=mobile_projection_2
BRANCH=feature/mobile_projection_2
TEST_SET=mobile_projection_2.txt
BUILD_TYPE=PR</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>ATF_mobile_projection_2</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>SDL_BUILD=${BUILD_NUMBER}
SDL_FOLDER=mobile_projection_2
TEST_SET=smoke_tests.txt
BUILD_TYPE=PR</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>ATF_mobile_projection_2_Smoke</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@2.13.0">
      <details>
        <artifactoryName>art</artifactoryName>
        <artifactoryUrl>http://172.30.23.4:8081/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </details>
      <resolverDetails>
        <artifactoryName>art</artifactoryName>
        <artifactoryUrl>http://172.30.23.4:8081/artifactory</artifactoryUrl>
        <stagingPlugin/>
      </resolverDetails>
      <deployerCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </deployerCredentialsConfig>
      <resolverCredentialsConfig>
        <credentials>
          <username></username>
          <password></password>
        </credentials>
        <credentialsId></credentialsId>
        <overridingCredentials>false</overridingCredentials>
        <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
      </resolverCredentialsConfig>
      <useSpecs>true</useSpecs>
      <uploadSpec>
        <spec>{
  &quot;files&quot;: [
    {
      &quot;pattern&quot;: &quot;build/OpenSDL.tar.gz&quot;,
      &quot;target&quot;: &quot;OpenSDL_${SDL_FOLDER}/${BUILD_TYPE}/${BUILD_NUMBER}/OpenSDL.tar.gz&quot;
    }
   ]
}</spec>
      </uploadSpec>
      <downloadSpec>
        <spec></spec>
      </downloadSpec>
      <deployPattern></deployPattern>
      <resolvePattern></resolvePattern>
      <matrixParams></matrixParams>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*,*key*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
      <asyncBuildRetention>false</asyncBuildRetention>
      <multiConfProject>false</multiConfProject>
      <customBuildName></customBuildName>
      <overrideBuildName>false</overrideBuildName>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
    <EnvInjectBuildWrapper plugin="envinject@2.1.3">
      <info>
        <propertiesContent>LC_CTYPE=en_US.UTF-8
LC_ALL=en_US.UTF-8
CTEST_OUTPUT_ON_FAILURE=TRUE 
THIRD_PARTY_INSTALL_PREFIX=${WORKSPACE}/build/src/3rdparty/LINUX
THIRD_PARTY_INSTALL_PREFIX_ARCH=${THIRD_PARTY_INSTALL_PREFIX}/x86
LD_LIBRARY_PATH=$THIRD_PARTY_INSTALL_PREFIX_ARCH/lib:$THIRD_PARTY_INSTALL_PREFIX/lib</propertiesContent>
        <secureGroovyScript plugin="script-security@1.40">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>