<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.ghprb.GhprbRepository plugin="ghprb@1.36.2">
  <reponame>vkushnirenko-luxoft/sdl_core</reponame>
  <pullRequests class="concurrent-hash-map">
    <entry>
      <int>1</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>1</id>
        <updated>2017-12-14 15:50:52.0 UTC</updated>
        <head>1ae8e2eba9b4d646f54e813b73880ef4aa1681e8</head>
        <base>989bb347ed778edb4d3474171d6e01a01462878a</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>2</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>2</id>
        <updated>2017-12-25 22:47:54.0 UTC</updated>
        <head>544023136158f71e10a3ca7c794a8e4b09c68675</head>
        <base>989bb347ed778edb4d3474171d6e01a01462878a</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
    <entry>
      <int>3</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>3</id>
        <updated>2017-12-25 22:53:27.0 UTC</updated>
        <head>cf7c8d57b1705afa77f3e89d49ca7438ee138bf9</head>
        <base>989bb347ed778edb4d3474171d6e01a01462878a</base>
        <accepted>true</accepted>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
  </pullRequests>
</org.jenkinsci.plugins.ghprb.GhprbRepository>